.container {
  display: flex;
}

.left-side {
  width: 50%;
  height: 100%;
}

.right-side {
  width: 50%;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid black;
}

.tab-content {
  display: none;
}

.active {
  display: block;
}

.tab-button {
  background-color: #ccc;
  color: #000;
  border: none;
  cursor: pointer;
}
